<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.4.8" />
  <package id="MvvmLight" version="3.1.1" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="NGitHub" version="0.4.3" />
  <package id="RestSharp" version="102.5" />
  <package id="SilverlightToolkitWP" version="4.2011.12.13" />
</packages>